.urlRow {
    display: flex;
    justify-content: center;
    margin: 2rem;
    gap: 1rem;
}

.urlInput {
    width: 32rem;
}

.buttonSearch {
    cursor: pointer;
    background-color: transparent;
    border-radius: 0.2rem;
    width: 6rem;
}
