.App {
  text-align: center;
}
.video-wrapper {
  width: 30rem;
  margin: 2rem auto;
}

#video {
  width: 30rem;
}

.url-row {
  display: flex;
  justify-content: center;
  margin: 2rem;
  gap: 1rem;
}

.url-input {
  width: 25rem;
}

.errorText {
  color: red;
  font-weight: bold;
}
